*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 2rem 0;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
    margin: 1rem 0;
}

.img{
    width: 100%;
    margin: 2rem 0;
    align-items: center;
    justify-content: center;
}

.img img{
    width: 200px;
}
