/* nav hover */
.slide a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.slide a::after {
    content: '';
    position: absolute;
    width: 80%;
    margin-left: 10%;
    transform: scaleX(0);
    height: 5px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom;
    transition: transform 0.2s ease-out;
}

.slide a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom;
}

/* Navbar */
nav {
    background-color: rgba(6, 8, 44, 0.144);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

nav .logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin-left: 15px;
}

nav .logo i {
    font-size: 40px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    color: #fff;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
    margin: 0 5px;
}

nav ul li a {
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav .burger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    nav{
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links{
        position: fixed;
        background-color: rgba(3, 3, 7, 0.767);
        backdrop-filter: blur(20px);
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .nav-links li a{
        font-size: 20px;
    }

    nav .burger{
        display: flex;
        margin: 20px;
        z-index: 99;
    }

    nav .burger i{
        font-size: 50px;
        color: #fff;
    }
}