@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap);

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: ease 0.5s;
}


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0%;
    max-width: 100%;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: rgb(217, 237, 255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.title {
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 30px;
    margin-left: 1.5rem;
}

footer{
    position: absolute;
    bottom: 0;
    top: 110%;
    width: 100%;
    height: 100px;
    background-color: #575757;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

footer a{
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}

.footer-text{
    margin-top: 30px;
}

.footer-text ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-text ul li{
    display: inline-block;
    margin: 0 10px;
}

.footer-text ul li a{
    color: #fff;
    text-decoration: none;
}