@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap);

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: ease 0.2s;
}


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0%;
    max-width: 100%;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-image: url(../other/stacked-waves-haikei.svg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #A5D7E8;
}

.title {
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-left: 1.5rem;
}

.title h1 {
    color: #A5D7E8;
    text-shadow: 0px 0px 10px #0B2447;
}

.title:hover {
    color: rgb(167, 167, 167);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #0B2447;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: #A5D7E8;
}

footer a {
    text-decoration: none;
    margin-top: 30px;
    font-weight: 400;
    color: #A5D7E8;
}

footer a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-text {
    margin-top: 30px;
    font-size: 15px;
    color: #A5D7E8;
}

.footer-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-text ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-text ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #A5D7E8;
}

.footer-text ul li a:hover {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .footer {
        height: 240px;
    }
}

input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

input:focus {
    border-bottom: 3px solid #ffffff;
    color: #f4f4f4
}

::placeholder {
    color: #F5EFE7;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}

.log-form {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(3, 6, 17, 0.671);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    max-width: 475px;
    width: 100%;
}

.log-form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form {
    display: block;
    width: 100%;
    padding: 2em;
}

#password {
    display: inline-block;
    width: 85%;
}

.showpass {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    top: -3px;
    cursor: pointer;
}

.showpass:hover {
    scale: 1.1;
}

.showpass a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #03e9f4;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
    color: #fff;
    border-radius: 5px;
    box-shadow:
        0 0 5px #03e9f4,
        0 0 5px #03e9f4,
        0 0 50px #03e9f4,
        0 0 10px #03e9f4;
}

.register {
    line-height: .5em;
    position: relative;
    top: 1.2em;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
    color: #f3f3f3;
    font-family: 'Montserrat';
    margin-top: 40px;
}

.register:hover {
    color: rgb(0, 0, 0);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    z-index: 999;
}

.loading-screen p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spinner {
    border: 6px solid #ccc;
    border-top: 6px solid gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.login {
    margin-top: 40px;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
    line-height: .5em;
    position: relative;
    top: 1.2em;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
}

.login a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.login:hover {
    color: rgb(0, 0, 0);
}

.navbar {
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #b8b8b805;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(20px);
}

.navbar h1 {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
    color: #A5D7E8;
    text-shadow: 0px 0px 10px #0B2447;
}

.navbar .u_okvir {
    display: inline-flex;
    margin-top: -80px;
    margin-right: 20px;
    float: right;
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: 200px;
    }

    .navbar h1 {
        font-size: 30px;
    }

    .navbar .u_okvir {
        margin-top: 40px;
        float: none;
        align-items: center;
        justify-content: center;
    }
}

.animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000d2;
    z-index: 999;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #050f1b, #0B2447);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.box progress {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 20px;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 2px solid #fff;
}

.box .ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.box .ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.box .text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: 0.5s;
    animation: blink 2s linear infinite;
}

.box .text:hover {
    cursor: default;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}