@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap);

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: ease 0.2s;
}


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0%;
    max-width: 100%;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: #19376D;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #A5D7E8;
}

.title {
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-left: 1.5rem;
}

.title h1{
    color: #A5D7E8;
    text-shadow: 0px 0px 10px #0B2447;
}

.title:hover {
    color: rgb(167, 167, 167);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #0B2447;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    color: #A5D7E8;
}

footer a {
    text-decoration: none;
    margin-top: 30px;
    font-weight: 400;
    color: #A5D7E8;
}

footer a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-text {
    margin-top: 30px;
    font-size: 15px;
    color: #A5D7E8;
}

.footer-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-text ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-text ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #A5D7E8;
}

.footer-text ul li a:hover {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 1.5rem;
    }

    .footer {
        height: 240px;
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #19376D;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat';
    background-color: #576CBC;
}

input:focus {
    border: 3px solid #ccc;
    background-color: rgb(110, 103, 99);
    color: #f4f4f4
}

::placeholder {
    color: #F5EFE7;
    font-family: 'Montserrat';
}

.log-form {
    width: 50%;
    min-width: 360px;
    max-width: 475px;
    background: #0B2447;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.863);
}

form {
    display: block;
    width: 100%;
    padding: 2em;
}

#password {
    display: inline-block;
    width: 85%;
}

.showpass {
    display: inline-flex;
    margin-top: 10px;
    margin-left: 5px;
    position: absolute;
    background-color: #576CBC;
    border: 3px solid #19376D;
    border-radius: 5px;
}

.showpass img {
    width: 40px;
    height: 40px;
}

.btn {
    display: inline-block;
    background: #576CBC;
    border: 3px solid #19376D;
    padding: .5em 2em;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
    cursor: pointer;
    border-radius: 2px;
    font-family: 'Montserrat';
    font-size: 1em;
    margin-top: 40px;
}

.btn:hover {
    background: #828282;
    border: 3px solid #ccc;
}

.register {
    line-height: .5em;
    position: relative;
    top: 1.2em;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
    color: #f3f3f3;
    font-family: 'Montserrat';
    margin-top: 40px;
}

.register:hover {
    color: rgb(0, 0, 0);
}