@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap);

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: ease 0.2s;
}


::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0%;
    max-width: 100%;
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: rgb(36, 33, 32);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.title {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    margin-left: 1.5rem;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.title:hover {
    color: rgb(167, 167, 167);
    text-decoration: none;
}

footer{
    margin-top: auto;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

footer a{
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
}

footer a:hover{
    color: #000000;
    text-decoration: none;
}

.footer-text{
    margin-top: 30px;
}

.footer-text ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-text ul li{
    display: inline-block;
    margin: 0 10px;
}

.footer-text ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.footer-text ul li a:hover{
    color: #000000;
    text-decoration: none;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #555;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    font-family: 'Montserrat';
    background-color: rgb(110, 103, 99);
    color: #fff;
}

input:focus {
    border: 3px solid #ccc;
    background-color: rgb(110, 103, 99);
    color: #fff;
}

::placeholder {
    color: #fff;
    font-family: 'Montserrat';
}