.options {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    left: 0;
    top: 80pt;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 100px;
}

.options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.options ul li {
    margin: 0;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.options ul li:hover {
    background-color: #cfcfcf;
    box-shadow: #333;
}

.options ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.options ul li a:hover {
    color: #000;
}

@media screen and (max-width: 768px) {
    .options {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        left: 0;
        top: 80pt;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.blacklist {
    width: 100%;
    min-width: 0;
    left: 0;
    top: 80pt;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: #b8b8b8;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.isci {
    background-color: cornflowerblue;
    border: 10px solid cornflowerblue;
    border-radius: 10px;
    width: 120px;
}

input {
    width: 320px;
}

.isci:hover {
    background-color: rgb(151, 187, 255);
    border: 10px solid rgb(151, 187, 255);
    box-shadow: #333;
}

.reset {
    width: 100%;
    min-width: 0;
    left: 0;
    top: 80pt;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: #b8b8b8;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.reset button:hover {
    background-color: rgb(151, 187, 255);
    border: 10px solid rgb(151, 187, 255);
    box-shadow: #333;
}

.meniblk {
    width: 100%;
    min-width: 0;
    left: 0;
    top: 80pt;
    background-color: #b8b8b8;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.meniblk ul {
    list-style: none;
    padding: 0;
    margin-left: -340px;
    text-align: center;
}

.meniblk ul li {
    margin: 0;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.meniblk ul li:hover {
    background-color: #cfcfcf;
    box-shadow: #333;
}

.meniblk ul li label {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.meniblk ul li label:hover {
    color: #000;
    cursor: pointer;
}

.meniblk ul li input [type="checkbox"] {
    margin: 0;
    cursor: pointer;
    margin-left: 200px;
}

.meniblk ul li input [type="checkbox"]:hover {
    background-color: #cfcfcf;
    box-shadow: #333;
}

.meniblk button {
    background-color: cornflowerblue;
    border: 10px solid cornflowerblue;
    border-radius: 10px;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.navbar {
    width: 100%;
    min-width: 0;
    left: 0;
    background-color: #b8b8b8;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 100px;
    position: absolute;
    z-index: 1;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    top: 0;
    left: 0;
    position: absolute;
}

.login {
    margin-top: 40px;
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;
}

.login a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.login {
    line-height: .5em;
    position: relative;
    top: 1.2em;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    float: right;
    cursor: pointer;
}

.login:hover {
    color: rgb(0, 0, 0);
}

input{
    text-align: center;
    font-size: 110%;
}
.u_okvir {
    display: inline-block;
    background: rgb(74, 74, 238);
    padding: 1em 1em;   
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%);
    cursor: pointer;
    border-radius: 3px;
    margin: 5% 4% 0 10%;
    white-space: nowrap;
}

.u_okvir span {
    margin-right: 0.5em;
}

.u_okvir:hover {
    background: darken(rgb(58, 133, 204), 5%);
    scale: 1.05;
}

