nav {
    height: 100%;
    width: 10vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0 0 4px #000000;
    overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

nav ul li {
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;
    color: #ffffff;
}

nav ul li:hover {
    box-shadow: #333;
    color: #a5a5a5;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

.options {
    width: 90vw;
    min-width: 0;
    max-width: 90vw;
    right: 0;
    top: 80pt;
    margin-left: 10vw;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 100px;
    text-align: center;
    height: 140vh;
}

.blacklist {
    width: 100%;
    min-width: 0;
    left: 0;
    top: 80pt;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: 0.3s;
    overflow: hidden;
}

.blacklist h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: #ffffff;
}

.container {
    display: grid;
    grid-template-areas:
        'all blacklist'
        'all whitelist';
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

#column-undone {
    grid-area: all;
    height: 80vh;
}

#column-done {
    grid-area: blacklist;
    height: 39vh;
}

#column-in-progress {
    grid-area: whitelist;
    max-height: 39vh;
}

.column {
    background-color: #091c38;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    overflow-y: scroll;
    background: rgba(3, 6, 17, 0.671);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.notes-column {
    display: grid;
    grid-gap: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    overflow-y: scroll;
    padding: 20px;
    background-color: rgba(9, 28, 56, 0);
}

.food-item {
    background-color: rgba(96, 115, 184, 0.137);
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0 0 4px #000000;
}

.food-item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.food-item:hover {
    background-color: #cfcfcf;
    box-shadow: 2px 2px 5px #333;
    cursor: grab;
}

.food-item:active {
    cursor: grabbing;
}

.food-item a:hover {
    color: rgb(0, 0, 0);
}

#save-btn {
    background-color: cornflowerblue;
    border: 10px solid cornflowerblue;
    border-radius: 10px;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#save-btn:hover {
    background-color: rgb(151, 187, 255);
    border: 10px solid rgb(151, 187, 255);
    box-shadow: 5px 5px 10px #333;
    cursor: pointer;
}

.isci {
    background-color: cornflowerblue;
    border: 10px solid cornflowerblue;
    border-radius: 10px;
    width: 120px;
}

input {
    width: 320px;
}

.isci:hover {
    background-color: rgb(151, 187, 255);
    border: 10px solid rgb(151, 187, 255);
    box-shadow: #333;
}

.reset {
    width: 100%;
    min-width: 0;
    left: 0;
    top: 80pt;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    background-color: #b8b8b8;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    overflow: hidden;
}

.reset button:hover {
    background-color: rgb(151, 187, 255);
    border: 10px solid rgb(151, 187, 255);
    box-shadow: #333;
}

.meniblk {
    width: 100%;
    min-width: 0;
    left: 0;
    top: 80pt;
    background-color: #b8b8b8;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: 0.3s;
    overflow: hidden;
}

.meniblk ul {
    list-style: none;
    padding: 0;
    margin-left: -340px;
    text-align: center;
}

.meniblk ul li {
    margin: 0;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.meniblk ul li:hover {
    background-color: #cfcfcf;
    box-shadow: #333;
}

.meniblk ul li label {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.meniblk ul li label:hover {
    color: #000;
    cursor: pointer;
}

.meniblk ul li input [type="checkbox"] {
    margin: 0;
    cursor: pointer;
    margin-left: 200px;
}

.meniblk ul li input [type="checkbox"]:hover {
    background-color: #cfcfcf;
    box-shadow: #333;
}

.meniblk button {
    background-color: cornflowerblue;
    border: 10px solid cornflowerblue;
    border-radius: 10px;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
}

input {
    text-align: center;
    font-size: 110%;
}

@media screen and (max-width: 768px) {
    .options {
        margin-top: 200px;
    }
}